

<div class="text-center">
    <h3>Welcome</h3> <br>

<pre>
    <strong>
About SMMS (Supermarket Management System)

SMMS (Supermarket Management System) is a solution designed to empower businesses in managing their inventory and categories.
The system features a user-friendly interface that enables administrators to:

- Manage Product Categories: Easily add, edit, and remove categories, ensuring that products are organized for tracking and management.
- View Products by Category: Quickly access and display products within specific categories, allowing inventory and product management.
- User-friendly Interface: The intuitive design facilitates easy navigation and efficient management.
- Streamlined Inventory Management: Ensuring that businesses can maintain optimal inventory and meet customer demands.

Upcoming Feature: Sales data management capabilities will be introduced soon, further enhancing the system's functionality and providing
 a complete solution for supermarket management.

With SMMS, businesses can enhance their operational efficiency and improve their ability to respond to market needs.</strong>


</pre>


</div>
